.Main {
    width: 100%;
    height: 1000px;
    margin: 50px auto;
    overflow:hidden;
}

.Main h2 {
    font-size: 40px;
    letter-spacing: 5px;
    color: #1D3557;
}

.Sub {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 799px){
    .Main {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 1300px;
        padding: 5px 0;
    }


    .Main h2 {
        font-size: 27px;
    }

    .Img {
        display: none;
    }

    .Sub {
        height: 870px;
        padding: 35px 0;
    }

    .Sub div {
        width: 90%
    }
}

@media (max-width:400px) {
    .Main {
        height: 1300px;
    }

    .Sub {
        height: 1080px;
    }
}
