.Main {
    width: 85px;
    height: 85px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    margin: 20px;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 35%;
    background-color: #BBBFCA;
    cursor: pointer;
}

.Main a {
    text-decoration: none;
}

.Main img {
    height: 50px;
    width: 50px;
    margin: 2px 0;
}

.Main:hover {
    animation: zoom 0.4s ease-out forwards;
}

.Main p {
    color: #F1F6F9;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
}

@media (max-width: 675px) {
    .Main {
        height: 90px;
        width: 90px;
        margin: 15px;
        padding: 20px;
    }

    .Main img {
        height: 40px;
        width: 40px;
    }
    
    .Main p {
        font-size: 13px;
    }
}

@keyframes zoom {
    100% {
        transform: scale(1.3);
    }
}