@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Island+Moments&family=Josefin+Sans&family=Luxurious+Roman&family=Open+Sans:wght@300&family=PT+Serif&family=Permanent+Marker&family=Roboto:wght@100&display=swap');

.Heading {
    width: 95%;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    height: 330px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #C9D6DF;
}

.Heading h2 {
    color: #52616B;
    font-family: 'PT Serif', serif;
}

.SubHeading {
    width: 95%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'PT Serif', serif;
}

.Subs {
    width: 280px;
    padding: 15px;
    height: 220px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.Subs h3 {
    height: 80px;
    color: #52616B;
}

.Font {
    color: #52616B;
    font-size: 40px;
}


.Form {
    display: flex;
    height: 700px;
    width: 650px;
    min-width: 400px;
    margin: 50px 10px;
    padding: 10px;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'PT Serif', serif;
    background-color: #E8F1F5;
}

.Img {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Img img{
    width: 90%;
    height: 500px;
}

.FormMain {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'PT Serif', serif;
}

.Phone {
    width: 100%;
    margin: 15px auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    min-width: 400px;
}

.Form input {
    height: 30px;
    width: 250px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid darkgrey;
    background-color: #ffffffc2;
    color: #797A7E;
}

.Form textarea {
    width: 93%;
    min-width: 329px;
    margin: 15px auto;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid darkgrey;
    background-color: #ffffffc2;
    color: #797A7E;
}

.Form select {
    width: 95%;
    height: 40px;
    min-width: 329px;
    margin: 15px auto;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffffc2;
    color: #797A7E;
    border: 1px solid darkgrey;
}

.Hidden {
    display: none;
}

form button {
    height: 40px;
    width: 150px;
    margin: 50px auto;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: green;
    color: white;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(2, 168, 2);
}

.formPic {
    width: 650px;
    height: 700px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #1F1D36;
}

.Subform {
    /* height: 500px; */
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    color: #E9A6A6;
    background-image: url();
    background-position:center;
    font-family: 'PT Serif', serif;
    letter-spacing: 2px;
    background-size: cover;
}


.formPic img {
    width: 65%;
    height: auto;
    max-height: 460px;
}


@media (max-width: 912px) {
    .formPic {
        display: none;
    }

    .Phone {
        min-width: 200px;
    }

    .Form textarea {
        width: 82%;
        min-width: 200px;
    }

    .Form select {
        width: 84%;
        min-width: 200px;
    }
}

@media (max-width: 750px) {
    .Heading {
        height: auto;
    }

    .SubHeading {
        flex-flow: column;
    }

    .Subs {
        height: 120px;
        width: 95%;
    }

    .Subs h3 {
        font-size: 15px;
        height: auto;
    }
}

@media (max-width: 655px) {

    .Form {
        width: 100%;
        min-width: 200px;
    }

    .Img {
        width: 100%;
    }

    .Img img {
        width: 100%;
    }
    .Phone {
        min-width: unset;
        flex-flow: column;
        align-items: center;
    }

    .Form input {
        width: 78%;
    }

    .Form textarea {
        width: 78%;
    }

    .Form select {
        width: 78%;
    }

    .Heading h2 {
        font-size: 22px;
    }

}