.Toolbar {
    width: 95%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Toolbar nav {
    display: flex;
    align-items: center;
}

@media (max-width: 767px){
    .Toolbar nav {
        display: none;
    }    
}

