.Toolbar {
    width: 95%;
    /* height: 56px; */
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.Toolbar nav {
    display: flex;
    align-items: center;
}

@media (max-width: 767px){
    .Toolbar nav {
        display: none;
    }    
}

